@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Proza+Libre:wght@400&display=swap');

* {
  box-sizing: border-box;
}
:root {
  --verylight: #fdfdfd;
  --light: #efefef;
  --medium: #bbbbbb;
  --dark: #656565;
  --verydark: #000000;
  --translucentdark: #000000d0;
  --heading-font: "Proza Libre";
  --body-font: "Montserrat"
  font-family: var(--body-font);
  background: var(--light);
  color: var(--verydark);
  height: 100%;
}

a {
  color: var(--verylight);
}

body {
  height: 100%
}

.masthead-container {
  position: relative;
  height: calc(100% - 2rem);
}

.masthead {
  height: calc(100vh - calc(100vh - 100%));
  background-image: url(./hero.jpg);
  /* z-index: 1; */
}
.masthead, .masthead:before, .masthead:after {
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  z-index: -1;
}

.masthead:after {
  background: linear-gradient(
    to bottom, 
  var(--verydark) 0%, 
  var(--translucentdark) 20%, 
  transparent 50%),
  no-repeat 
  bottom;
  animation: 
    oscillate-background 
    6s 
    ease-in-out
    0s infinite
    alternate;
}

@keyframes oscillate-background {
  0%, 100% {
    opacity: .6;
  }
  50% {
    opacity:.8;
  }
}

.name-title-container {
  margin: 0;
  position: absolute;
  top: calc(50vh - 7.375rem);
  left: 0;
  background-color: var(--translucentdark);
  animation: fade-in .3s ease-out forwards;
}

.name {
  display: block;
  margin: 0;
  padding: 1rem 2rem 0 2rem;
  height: 2.875rem;
  color: var(--verylight);
  font-family: var(--heading-font);
  line-height: 2.5rem;
  font-size: 1.75rem;
  z-index: 1;
  animation: pop-in .6s ease-out forwards;
}

.title {
  display: block;
  margin: 0 0 0 1.5rem;
  padding: 0 1.5rem 1rem 2rem;
  height: 3.5rem;
  color: var(--verylight);
  font-family: var(--heading-font);
  line-height: 3rem;
  font-size: 2rem;
  animation: pop-in 0.6s ease-out forwards;
  animation-delay: .9s;
  animation-fill-mode: both;
}

.content {
  position: sticky;
  height: 200vh;
  bottom: -100vh ;
  z-index: -2;
  width: 100%;
  /* padding: 2rem 0 100vh 0; */
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
}

.section-heading {
  text-align: center;
  margin: 9vh 0;
  font-family: var(--heading-font);
}

.intro {
  background-color: var(--medium);
}

.intro p {
  max-width: 30rem;
  margin: 2rem auto;
}

.intro blockquote {
  margin: 2rem auto;
  max-width: 15rem;
}

.photo {
  margin: 9vh auto;
  /* width: 30vw;
  height: 45vw; */
  /* border: 1px solid var(--dark); */
}

.invitation {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: right;
  margin: 0;
  padding: 0 .5rem 0;
  height: 2rem;
  overflow: hidden;
  background-color: var(--verydark);
  color: var(--verylight);
  line-height: 2rem;
  font-size: 1.5rem;
}

.invitation-1 {
  animation: fade-in 1.6s ease-out both;
  animation-delay: 1.8s;
}

.invitation-2 {
  animation: fade-in 1.6s ease-out both;
  animation-delay: 2.1s;
}

.invitation-3 {
  animation: fade-in 1.6s ease-out both;
  animation-delay: 2.4s;
}

@media screen and (min-width: 36rem) {
  :root {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 64rem) {
  :root {
    font-size: 2rem;
  }
  
  .masthead-container {
    height: calc(100vh - 1.5rem);
  }

  .invitation {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-.5rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}