@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Proza+Libre:wght@400&display=swap');

* {
  box-sizing: border-box;
}
:root {
  --verylight: #efefef;
  --light: #d6d6d6;
  --medium: #bbbbbb;
  --dark: #656565;
  --verydark: #000000;
  --translucentdark: #000000d0;
  --heading-font: "Proza Libre";
  --body-font: "Montserrat"
  font-family: var(--body-font);
  background: var(--verylight);
  color: var(--verydark);
  height: 100%;
}

a {
  color: var(--verylight);
}

body {
  height: 100%
}

.masthead-container {
  position: relative;
  height: 100%;
  z-index: 2;
}

.masthead {
  height: calc(100vh - calc(100vh - 100%));
  background-image: url(assets/hero.jpg);
}
.masthead, .masthead:before, .masthead:after {
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.masthead:after {
  background: linear-gradient(
    to bottom, 
  var(--verydark) 0%, 
  var(--translucentdark) 20%, 
  transparent 50%),
  no-repeat 
  bottom;
  animation: 
    oscillate-background 
    6s 
    ease-in-out
    0s infinite
    alternate;
}

.message-container {
  padding: 1rem;
  position: absolute;
  z-index: 1;
  left: 0;
  top: calc(50vh - 7.5rem);
  background-color: var(--translucentdark);
  color: var(--verylight);
  animation: slide-in .6s ease-out forwards;
}
.intro-container, .invite-container {
  margin: 0;
  animation: fade-in .3s ease-out forwards;
}

.intro, .invite {
  margin: 0;
  padding: 0;
  height: 4rem;
  animation: fade-in .3s ease-out both;
  font-family: var(--heading-font);
  font-weight: bold;
  line-height: 2.5rem;
  font-size: 1.75rem;
}

.intro-1 {
  animation-delay: .6s;
}
.intro-2 {
  animation-delay: 1.2s;
}
.intro-3 {
  animation-delay: 1.5s;
}

.invite-1 {
  animation-delay: 2.6s;
}

.invite-2 {
  animation-delay: 2.9s;
}

.invite-3 {
  animation-delay: 3.2s;
}

.content {
  position: sticky;
  bottom: -100vh ;
  z-index: 1;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10vh 0;
}

.content-heading, .content-subheading {
  text-align: center;
  font-family: var(--heading-font);
  margin: 0 auto;
}

.content-heading {
  width: 90%;
}

.content-subheading {
  font-style: italic;
  margin: 0 auto;
  max-width: 30rem;
  width: 80%;
}

#about {
  background-color: var(--medium);
}

.content-section p, .project-header, .project-screenshot, .project-description, .project-links {
  width: 80vw;
  max-width: 45rem;
  margin: 0 auto;
}

.content-section blockquote {
  margin: 0 auto;
  max-width: 15rem;
  width: 80%;
}

.photo {
  margin: 9vh auto;
  width: 20vh;
  height: 25.6vh;
  border: 1px solid var(--dark);
}

#skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  max-width: 24rem;
  margin: 0 auto;
}

.skill-icon {
  width: 5.5rem;
  margin: 0 1rem;
}

p.skill-icon-caption {
  width: 100%;
  font-family: var(--heading-font);
  font-size: 1rem;
  text-align: center;
  color: var(--dark);
  cursor: default;
}

#projects {
  background-color: var(--medium);
  height: fit-content;
}

.project-list, .project-links, .project-technology-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.project-list {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.project-item {
  padding: 10vh 0;
}

.project-item:nth-child(even) {
  background-color: var(--light);
}

.project-item:last-child {
  padding-bottom: 0;
}

.project-header, .project-description {
  margin-bottom: 1rem;
}

.project-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-title {
  margin: 0 0 .5rem 0;
  text-align: center;
}

.project-screenshot {
  width: 80vw;
  max-width: 45rem;
  margin-top: 1rem;
  height: 45vw;
  max-height: 25.3125rem;
}

.project-screenshot img {
  width: 100%
}

.project-description p {
  margin-top: 1rem;
}

.project-description p:last-child {
  margin-bottom: 1rem;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-link {
  padding: .5rem;
  border-radius: .25rem;
  background-color: var(--dark);
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--verylight);
  text-decoration: none;
}

.project-link i {
  vertical-align: bottom;
  margin-right: .5rem;
}

.project-technology-list {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project-technology-item {
  font-size: .75rem;
  margin: .125rem;
  padding: .1875rem ;
  border: 1px solid var(--light);
  cursor: default;
}

.project-item:nth-child(even) .project-technology-item {
  border-color: var(--verylight);
}

.project-technology-item:hover {
  background-color: var(--light);
  border-color: var(--light);
  transition: all .3s;
}

#contact {
}

@media screen and (min-width: 36rem) {
  :root {
    font-size: 1.5rem;
  }

  .project-description p {
    font-size: .75rem;
    margin-bottom: .75rem;
  }
  
  .project-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-title, .project-technology-list {
    margin: 0 0 1rem 0;
  }

  .project-title {
    flex-grow: 1;
    text-align: left;
  }

  .project-screenshot {
    margin-top: -1rem;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes oscillate-background {
  0%, 100% {
    opacity: .2;
  }
  50% {
    opacity:.8;
  }
}